{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.name) }}</div>
        <div class="col-md-4">{{ form_label(form.prix) }}{{ form_widget(form.prix) }}</div>
    </div>
    <div class="row imagefile">
        {{ form_errors(form.imageFile) }}
        {{ form_label(form.imageFile,'Fichier image', {'label_attr': {'class': 'myButton3'}}) }}
        {{ form_widget(form.imageFile) }}
    </div>
    {{ form_row(form.description) }}
    {{ form_row(form.options)}}
    {{ form_row(form.stock)}}
    <button class="btn btn-primary">{{ button|default('Enregistrer')}}</button>
{{ form_end(form) }}

