<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon profil{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {{ encore_entry_link_tags('user') }}
    {% block stylesheets %}

    {% endblock %}


</head>
<body>
    <header class="header-desktop">
        <nav>
            <div class="nav">
                <div class="menu">
                    <ul id="menu" class="nav__ul">
                        <li> <a href="{{ path('indexpage') }}" class="lien">Accueil</a></li>
                        <li> <a href="{{ path('produit')}}" id="1" class="lien">Notre carte</a> </li>
                        <li> <a href="{{ path('contact_index') }}" id="4" class="lien">Contact</a> </li>
                        {% if is_granted('ROLE_USER') %}
                            <li>
                                {% if is_granted('ROLE_USER') %}
                                    <a href="{{ path('profil_index') }}" class="lien">Mon compte</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin_index') }}" class="lien">Administration /</a>
                                {% endif %}
                                {% if is_granted('ROLE_MODO') %}
                                    <a href="{{ path('admin_produits_index') }}" class="lien">Modération</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <header class="header-burger"><h1 class="header-title">Mon profil</h1><div id="menu-button"
                                                                           class="close"></div></header>
    <nav id="menu-burger" class="">
        <ul>
            <li><a href="{{ path('indexpage') }}" class="lien">Accueil</a></li>
            <li><a href="{{ path('produit')}}" id="1" class="lien">Notre carte</a></li>
            <li><a href="{{ path('contact_index') }}" id="4" class="lien">Contact</a></li>
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('profil_index') }}" class="lien">Mon compte</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_index') }}" class="lien">Administration</a></li>
                {% endif %}
                {% if is_granted('ROLE_MODO') %}
                    <li><a href="{{ path('admin_produits_index') }}" class="lien">Modération</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    <section class="container">
        <div class="container--width">
            <div class="container__sidenav">
                <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
                    <a href="{{ path('profil_index') }}" class="sidenav-link ">Mon profil</a>
                    <a href="{{ path('profil_history') }}" class="sidenav-link">Mes commandes</a>
                    <a href="{{ path('profil_modifier')}}" class="sidenav-link ">Modifier le profil</a>
                    <a href="{{ path('profil_pass')}}" class="sidenav-link ">Modifier le mot de passe</a>
                </div>
            </div>
            <main>
                <!-- Code here the main content -->
                {% block body %}

                {% endblock %}
            </main>
        </div>
    </section>
    <footer>
        <div>
            <p>@copyright Florian, Ludovic</p>
        </div>
        <div class="footer__img">
            <img src="{{ asset("build/images/icons8-instagram-80.png") }}" alt="logo instagram">
            <img src="{{ asset("build/images/icons8-facebook-entouré-80.png") }}" alt="logo facebook">
        </div>
    </footer>
    {% block javascripts %}

    {% endblock %}
    {{ encore_entry_script_tags('app') }}
    
</body>

</html>
